body{
    font-family: "Times New Roman", sans-serif;
    background-image:url("../IMG/back.jpg");
    height: 730px;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li{
    float: left;
    margin-left:0px;
}

li a, .dropbtn{
    display: inline-block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color:MediumBlue;
}

li .dropdown{
    display: inline-block;
}

.dropdown-content{
    display:none;
    position: absolute;
    background-color:DodgerBlue;
    min-width: 150px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: Blue;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.caixa{
   height: 350px;
   width: 550px;
   background: rgba(0, 0, 0, 0.473);
   margin-top:150px;
   margin-left: 50px;
}

#atitulo{
    color: white;
    font-size: 55px;
    font-family: "Adobe Caslon Pro";
    margin-left: 20px;
    padding-top: 25px;
}

#titulo{
    color: rgb(62, 180, 219);
    font-size: 75px;
    font-family: "Adobe Caslon Pro";
    margin-left: 20px;
    padding-top: 25px;
}

#conteudo{
    color: white;
    font-size: 35px;
    margin-left: 20px;
    padding-top: 25px;
}

img{
    width: 80px;
    height: 80px;
}
